<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p class="static_pages">
 The Pingoui App is an Application to send micro-messages to your friends. Pingoui gives you the ability
 to quickly get information from others and also to spread the word quickly...<br>
  It has been designed to be more simple, more fun and more user friendly than the other micro messaging system.<br>
  In fact, at Pingoui, we brelieve in simplicity. Even a five year old child can play around with our app.
  Ok, ok, we also believe in Pingouins, but that is another story ...
  Pingoui is not Twitter, Pingoui is not Facebook, Pingoui is Pingoui.<br>
  Made by Pingouins, for Pingouins and humans :)
</p>