<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p class="static_pages">
 If you have any question. Just send a letter to the address:<br><br>
  Papa Pingouin<br>
  231, Iceberg Street<br>
  Alaska
</p>
<br>
And wait your answer :)))