<% provide(:title, 'Help') %>

<h2>What is Pingoui App ?</h2>
<p class="static_pages">
  The Pingoui App is an Application to send micro-messages to your friends. Pingoui gives you the ability
  to quickly share informations and spread the word quickly...<br>
  It has been designed to be more simple, more fun and more user friendly than the other micro messaging systems.<br>
  In fact, at Pingoui, we believe in simplicity. Even a five year old child can play around with our app.
  Ok, ok, we also believe in Pingouins, but that is another story ...<br>
  Pingoui is not Twitter, Pingoui is not Facebook, Pingoui is Pingoui.<br>
  Made by Pingouins, for Pingouins and humans :)
</p>
<h2>What is a Pingoo ?</h2>
<p class="static_pages">
  A Pingoo is a micro message.
</p>

<h2>Can I eat the Pingoui App ?</h2>
<div class="static_pages">
  <p>Yes, of course, you can :)))</p>
</div>

<h2>How can I recover my password ?</h2>
<div class="static_pages">
  <p>You simply can't !</p>

  <p>In the world of Pingouins we believe that if you can't remember your password, then you don't deserve to be a
    Pingouin</p>

  <p>It is a rule, Master Pingoui has instaured !</p></div>